<template>
  <v-container>
    <v-row>
      <v-col lg="6">
        <img src="./../assets/man-work.jpg" alt="man work" width="100%" />
      </v-col>
      <v-col lg="6">
        <v-subheader class="text-h4">About Us</v-subheader>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis
          reiciendis odio, quibusdam quae neque veritatis veniam dignissimos,
          quas tempore vitae doloremque sed illo. Dignissimos delectus
          repellendus fugit sed incidunt hic.
        </p>
        <v-list>
          <v-list-item>
            <v-icon color="success" class="mr-3">mdi-check-all</v-icon>
            <v-list-item-subtitle
              >Lorem ipsum dolor sit amet, consectetur
              adipisicing</v-list-item-subtitle
            >
          </v-list-item>
          <v-list-item>
            <v-icon color="success" class="mr-3">mdi-check-all</v-icon>
            <v-list-item-subtitle
              >Lorem ipsum dolor sit amet, consectetur
              adipisicing</v-list-item-subtitle
            >
          </v-list-item>
          <v-list-item>
            <v-icon color="success" class="mr-3">mdi-check-all</v-icon>
            <v-list-item-subtitle
              >Lorem ipsum dolor sit amet, consectetur
              adipisicing</v-list-item-subtitle
            >
          </v-list-item>
        </v-list>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis
          consequatur sed omnis at porro doloremque, itaque ab assumenda totam,
          repudiandae eaque accusamus iusto illo tempore voluptatibus esse
          explicabo asperiores voluptatem!
        </p>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "About",
};
</script>

<style lang="scss" scoped>
</style>