<template>
  <v-container class="my-15">
    <v-row justify="center">
      <v-col lg="12" class="text-center">
        <v-subheader class="text-h4 justify-center">Contact Us</v-subheader>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
          tempora odit reiciendis natus pariatur architecto eaque repellendus
          dolor tenetur odio, laborum libero, placeat ducimus voluptate.
          Cupiditate laudantium accusantium blanditiis odio?
        </p>
      </v-col>
      <v-col lg="6">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3957.405189591532!2d112.7828562147751!3d-7.308294094725438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd7faf4e97c42ef%3A0x3824b069cb5b612a!2sPT.%20Shelter%20Nusantara!5e0!3m2!1sen!2sid!4v1637204360877!5m2!1sen!2sid"
          width="100%"
          height="100%"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </v-col>
      <v-col lg="6">
        <v-form ref="form">
          <v-text-field
            v-model="contactInfo.name"
            label="Name"
            required
          ></v-text-field>

          <v-text-field
            v-model="contactInfo.email"
            label="E-mail"
            required
          ></v-text-field>
          <v-textarea
          v-model="contactInfo.message"
          label="message"
          :counter="200"
          ></v-textarea>

          <v-btn color="success" class="mr-4">Send</v-btn>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Contact",
  data() {
      return {
          contactInfo: {}
      }
  },
};
</script>

<style lang="scss" scoped>
</style>