<template>
  <v-footer padless>
    <v-col lg="12">
      <v-row justify="center">
        <v-col lg="4" class="text-center">
          <v-toolbar-title>Website Apik</v-toolbar-title>
          <v-card-text>
            <v-btn
              v-for="icon in icons"
              :key="icon"
              class="mx-4 black--text"
              icon
            >
              <v-icon size="24px">
                {{ icon }}
              </v-icon>
            </v-btn>
          </v-card-text>
          <v-subheader
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
            aperiam earum voluptas inventore ab animi quod quas nulla temporibus
            officiis?</v-subheader
          >
          <v-form class="mt-4">
            <v-text-field label="Email" outlined dense />
            <v-btn rounded color="success">Subscribe us</v-btn>
          </v-form>
        </v-col>
      </v-row>
      <div class="mt-10">
        <v-divider></v-divider>
        <v-subheader>
          © COPYRIGHT 2019 -PT.SHELTER NUSANTARA - ALL RIGHTS RESERVED
          {{ new Date().getFullYear() }} — <strong>Vuetify</strong>
          <v-spacer />
          <strong>Designed by ....</strong>
        </v-subheader>
      </div>
    </v-col>
  </v-footer>
</template>

<script>
export default {
  name: "Footer",
  data() {
    return {
      icons: ["mdi-facebook", "mdi-twitter", "mdi-linkedin", "mdi-instagram"],
    };
  },
};
</script>

<style lang="scss" scoped>
.v-toolbar__title {
  font-size: 32px;
  color: #4caf50;
  font-weight: 700;
}
</style>