<template>
  <v-container class="pt-15">
    <v-row>
      <v-col lg="6">
        <h2 class="intro-text">Welcome to our website</h2>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid sunt
          autem doloremque, ex accusamus at quo unde ipsam corporis quidem qui,
          fugit eius molestiae? Atque enim numquam praesentium aspernatur culpa.
        </p>
        <v-btn color="success" rounded class="white--text mr-5">Get Started</v-btn>
        <v-btn color="indigo" rounded class="white--text">
          <v-icon>mdi-play-circle</v-icon> Watch Video
        </v-btn>
      </v-col>
      <v-col lg="6">
        <img width="100%" src="./../assets/wplace.jpg" alt="workplace image" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "HeroComponent",
};
</script>

<style scoped>
h2.intro-text {
  font-size: 60px;
  font-weight: bold;
  color: #444;
}
p.description {
  font-size: 19px;
  margin: 32px 0px;
  color: #444444ba;
}
</style>