<template>
  <v-app>
    <!-- NAVBAR Section -->
    <Navbar />
    <v-main>
      <!-- Hero Component Section -->
      <HeroComponent />
      <!-- About Section -->
      <About />
      <!-- Portfolio Section -->
      <Portfolio />
      <!-- Project Section -->
      <Project />
      <!-- Gallery Section -->
      <Gallery />
      <!-- Contact Section -->
      <Contact />
      <!-- Footer Section -->
      <Footer />
    </v-main>
  </v-app>
</template>

<script>
import Navbar from "./components/Navbar.vue";
import HeroComponent from "./components/HeroComponent.vue";
import About from "./components/About.vue";
import Portfolio from "./components/Portfolio.vue";
import Project from "./components/Project.vue";
import Gallery from "./components/Gallery.vue";
import Contact from "./components/Contact.vue";
import Footer from "./components/Footer.vue";
export default {
  name: "App",
  components: {
    Navbar,
    HeroComponent,
    About,
    Portfolio,
    Project,
    Gallery,
    Contact,
    Footer,
  },
  
};
</script>